---
import Base from '../components/Base.astro'
import {AppConfig} from '../utils/AppConfig.ts'
---
<Base>
    <style>
        #mesvg {
            display: flex;
            justify-content: center;
            margin-top: 2em;
        }

        #mesvg img{
            max-height: 10em;
            width: auto;
            height: auto;
            z-index: 2;
        }

        @media only screen and (min-width: 750px) {
            #mesvg img{
                max-height: 12em;
            }
        }
    </style>
    <div id="home-content">
        <div id="mesvg">
            <img
                src="/images/bust50.webp"
                alt="A beautiful image of Internet Explorer"
                width="300"
                height="260"
            >
        </div>

        <h1>Hi!</h1>
        <p>
            I'm {AppConfig.author_first}.
            Welcome to my site!
        </p>
        <h2>
            Cupcakes?
        </h2>
        <p>
            Cupcake ipsum dolor sit amet.
            Biscuit gummi bears cookie liquorice shortbread brownie candy I love.
            Gingerbread macaroon croissant candy croissant.
        </p>
        <p>
            Macaroon icing tiramisu danish gummi bears apple pie tiramisu.
            Tootsie roll cake danish shortbread carrot cake.
            Apple pie cookie cheesecake jelly beans wafer chocolate bar.
            Muffin sweet roll sweet sesame snaps powder.
        </p>
        <p>
            Muffin dessert bear claw toffee icing jelly ice cream cookie.
            Fruitcake pudding bear claw jelly beans icing soufflé biscuit gummi bears pudding.
            Croissant powder chocolate cake sugar plum shortbread I love chocolate.
            Marshmallow chocolate bar lemon drops topping chocolate cake.
        </p>
        <h2>More Cupcakes</h2>
        <p>
            Macaroon shortbread cupcake jelly beans soufflé fruitcake muffin.
            Toffee apple pie shortbread jujubes candy pastry.
            Danish marzipan sugar plum danish chupa chups.
            Dragée sweet roll tiramisu shortbread candy.
        </p>
        <p>
            Bear claw lollipop I love jelly beans icing.
            Soufflé chupa chups topping jelly chocolate cake danish.
            Marzipan halvah I love tootsie roll marzipan.
        </p>
    </div>
</Base>
