---
import Base from '../components/Base.astro'
---

<Base>
    <h1>Now</h1>
    <p>
        This is a now page, designed to capture what I'm focusing on now.
        If you have a personal website, consider creating your own
        <a href="https://nownownow.com/about">now page</a>.
    </p>
    <p><i>This page was last updated 2024-Feb-01</i></p>
    <h2>
        Unemployment Goals
    </h2>
    <p>
        Setting aside the obvious goal of "find gainful employment",
        unemployment offers time for me for creativity and exploration
        related to my
        career. Within this space, I'm currently:
        <ul>
            <li>Fleshing out this site!</li>
            <li>Reading books related to software engineering (currently
                <a href="https://www.goodreads.com/book/show/840.The_Design_of_Everyday_Things">
                     The Design of Everyday Things, by Don Norman</a>)
            </li>
            <li>
                Starting tutorials for learning game development in Unreal
                (as a way to get practice with C++, but also because game
                development is interesting stuff!)
            </li>
        </ul>
    </p>
    <h2>Wife</h2>
    <p>
        My wife went back to school this year to expand her biology degree
        and nursing degree with a masters. Now I'm her chauffeur to school.
        Very proud of her, and glad I can support her in that way.
    </p>
    <h2>Dog</h2>
    <p>
        I am very focused on providing the best life I can for my dog.
        Every day with him is treasure.
    </p>
    <h2>
        Entertainment
    </h2>
    <p>
        There is some crossover with my unemployment goals, as I do find
        most of the software learning I do entertaining as well, but here's
        what I'm doing purely for entertainment:
        <ul>
            <li>Dog!</li>
            <li>Rocket League. Still? Always.</li>
            <li>Instagram reels got me hooked. Looking to cut them out,
                but for now, they're here, and a good way to share memes with
                friends. Thank the stars I don't have Tiktok.
            </li>
            <li>
                <a href="https://www.goodreads.com/book/show/68428.The_Final_Empire">
                    The Final Empire, by Brandon Sanderson
                </a>
            </li>
        </ul>
    </p>
</Base>